.app {

    padding: 40px 0;

    @include _992 {
        padding: 80px 0;
    }

    // .app__decor

    &__decor {

        display: none;

        @include _992 {
            display: block;
            position: absolute;
            left: 0; top: 0;
            z-index: -1;
            width: 100%; height: 100%;
        }

        // .app__decor--element

        &--element {
            display: none;

            @media (min-width: 1350px) {
                display: block;
                position: absolute;
                left: 0; top: 0%;
                transform: translate(-50%,0);
                width: 100%; height: 100%;
                
                &._bottom {
                    transform: translate(0,0);
                }
            }

            &._bottom img {
                position: absolute;
                left: 0; bottom: 0; top: auto;
            }

            @media (min-width: 1500px) {
                transform: translate(0,0);
            }

            & img {
                position: absolute;
                left: 0; top: 0;
                width: 150px; height: auto;
            }
        }

        // .app__decor--large-element

        &--large-element {
            position: absolute;
            right: 0; top: 0%;
            width: 100%; height: 100%;
            text-align: right;
            & img {
                width: 47%; height: auto;
            }
        }

        &--min-element {
            display: none;

            @media (min-width: 1350px) {
                display: block;
                position: absolute;
                left: 1%; top: 0%;
                width: 100%; height: 100%;

                &._2 {
                    left: 5%; top: -5%;
                }
            }
        }

        // .app__decor--min-img

        &--min-img {
            position: absolute;
            left: 0; top: 50%;
            width: 75px; height: 69px;
        }

        &--min-element._2 &--min-img {
            left: 5%; top: 105%;
        }
    }

    // .app__container

    &__container {
        display: flex;
        flex-wrap: wrap;
    }

    // .app__info

    &__info {
        text-align: center;

        display: flex;
        flex-direction: column;
        align-items: center;

        @include _992 {
            flex: 0 1 60%;
            padding-right: 81px;

            text-align: left;

            display: block;
        }
    }

    // .app__title

    &__title {
    }

    // .app__text

    &__text {
        padding-top: 15px;

        font-size: 1rem;
        line-height: 136%;
        color: var(--gray);

        @include _768 {
            font-size: 1.125rem;
        }
        
        @include _992 {
            font-size: 1.375rem;
        }
    }

    // .app__advantages

    &__advantages {

        padding-top: 25px; padding-bottom: 16px;

        @media (min-width: 400px) {
            padding-top: 25px; padding-bottom: 36px;
        }

        display: flex;
        flex-wrap: wrap;

        margin: -5px -10.5px;

        // .app__advantages--item

        &--item {
            display: flex;
            align-items: center;

            padding: 5px 10.5px;

            line-height: 100%;
            font-size: 0.875rem;
            @include _768 {
                font-size: 1rem;
            }
            
            @include _992 {
                font-size: 1.125rem;
            }
            line-height: 167%;

            & img {
                margin-right: 8px;
            }
        }
    }

    // .app__base-info

    &__base-info {

        padding-top: 15px;
        border-top: 1px solid var(--light);

        max-width: 470px;
        width: 100%;

        @media (min-width: 400px) {
            padding-top: 25px;
        }

        // .app__base-info--list

        &--list {
            display: flex;
            flex-direction: column;

            text-align: left;
        }

        // .app__base-info--item

        &--item {
            display: grid;
            grid-template-columns: 37px 100px auto;
            font-size: 0.875rem;
            @media (min-width: 400px) {
                grid-template-columns: 37px 125px auto;
                font-size: 1rem;
            }

            padding: 2px 0;

            & span {
                font-weight: 300;
                line-height: 187%;
            }

            & strong {
                font-weight: 600;
            }
        }
    }

    // .app__download

    &__download {

        @media (min-width: 400px) {
            padding-top: 40px;
        }
        padding-top: 20px;
        width: 100%;

        // .app__download--list

        &--list {
            display: flex;
            flex-wrap: wrap;

            margin: -2.5px;
            @media (min-width: 400px) {
                margin: -5px;
            }
        }

        // .app__download--item

        &--item {
            flex: 0 1 33.333%;
            padding: 2.5px;
            @media (min-width: 400px) {
                padding: 5px;
            }
        }

        // .app__download--link

        &--link {
            display: block;
            width: 100%;
            position: relative;
            padding-top: 30%;
            & img {
                position: absolute;
                left: 0; top: 0;
                width: 100%; height: 100%;
            }
        }
    }

    // .app__image

    &__image {

        flex: 0 1 40%;

        display: none;
        position: relative;

        @include _992 {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

        // .app__image--decor

        &--decor {
            position: absolute;
            left: 0; top: 0;
            width: 100%; height: 100%;
            pointer-events: none;
            z-index: 2;
        }

        &--min-element {
            position: absolute;
            left: 0; top: 0;
            width: 100%; height: 100%;

            & img {
                position: absolute;
                height: auto;
            }
            
            &._1 {
                
                & img {
                    width: 112px;
                    left: 0; top: 50%;
                    transform: translate(-115%,0);
                }
            }
           
            &._2 {
                
                & img {
                    width: 106px;
                    right: 0; top: 0;
                    transform: translate(45%,20%);
                }
            }

            &._3 {
                
                & img {
                    width: 150px;
                    left: 50%; top: 50%;
                    transform: translate(15%,15%);
                }
            }

            &._4 {
                

                & img {
                    width: 80px;
                    left: 0; top: 0;
                    transform: translate(-100%,75%);
                }
            }

            &._5 {
                
                & img {
                    width: 90px;
                    right: 0; top: 50%;
                    transform: translate(150%,0);
                }
            }

            &._6 {
                
                & img {
                    width: 116px;
                    left: 75%; bottom: 0;
                    transform: translate(0,70%);
                }
            }
        }

        // .app__image--min-img

        &--min-img {
        }

        & picture:nth-child(2) {
            text-align: right;
            margin-right: -15%;
            display: block;
        }

        // .app__image--img

        &--img {
            object-fit: contain;
            max-width: 100%;
            
            &._1 {
                position: relative;
                z-index: 2;
                
                filter: drop-shadow(0px 2.15992px 60px rgba(52, 52, 52, 0.2));
            }
            &._2 {
                
                filter: drop-shadow(0px 1.69922px 47.2024px rgba(52, 52, 52, 0.2));
            }
        }
    }

    &__footer {
        padding-top: 60px;

        font-weight: 300;
        font-size: 0.875rem;
        line-height: 133%;
        color: var(--gray);

        max-width: 532px;

        & p {
            padding: 7px 0;
        }
    }
}
